# Dependency directory
node_modules/

# AWS Elastic Beanstalk
.elasticbeanstalk/

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published BUT FOR THE LEARNING PURPOSES WE WILL PUBLISH IT
.env

# Exclude the npm package lock file,
# as libsass binary downloads might break again in the future

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
